*.iml
*~
.#*
.classpath
.idea
.mvn/timing.properties
.project
.repository/
.settings.xml
.settings/
.ws/
\#*
buildNumber.properties
dependency-reduced-pom.xml
out/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
